.registration-page-wrapper {
	&:before {
		content: "";
		background-image: url( '/assets/images/theryansmee-banner.png' );
		//filter: invert( 100% );
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	overflow: auto;
}

.registration-form {
	background: #fff;
	width: 30rem;
	max-width: 100%;
	padding: 2rem;
	border: 2px solid #e6e6e6;
	margin: auto;
	box-shadow: 0 1px 2px 2px rgba( #000, 0.3 );
}

h1 {
	margin-top: 0;
	font-weight: 200;
}

.input-with-button-wrapper {
	position: relative;

	.form-element {
		padding-right: 2.75rem;
	}
}

.toggle-password-visibility-button {
	background: rgba( #efefef, 0.4 );
	width: 2.5rem;
	border: none;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.hex-colour-display {
	width: 2.25rem;
	border-left: 1px solid #c9c9c9;
	position: absolute;
	right: 2px;
	top: 2px;
	bottom: 2px;
}


