<div class="form-row">
	<label class="form-label"
		[for]="fieldName">

		<span class="is-required">
			{{ label }}
		</span>

		<span class="field-error"
		*ngIf="control?.hasError( 'required' )">
		This is a required field.
	</span>

	<span class="field-error"
		*ngIf="control?.hasError( 'noEmptyString' )">
		Please enter a valid name.
	</span>

	<span class="field-error"
		*ngIf="control?.hasError( 'normalEmailRule' )">
		Email format is invalid.
	</span>

	<span class="field-error"
		*ngIf="control?.hasError( 'noWhitespaceRequired' )">
		No spaces allowed.
	</span>
	</label>
	<input type="text" class="form-element"
        [ngClass]="{
            'has-error':
                control?.invalid
                && control?.dirty
        }"
		[id]="fieldName"
		[name]="fieldName"
		[disabled]="isDisabled"
		(input)="onChange( $event )"
		(blur)="touched()">
</div>
