<div class="form-row">
	<label class="form-label"
		[for]="fieldName">
		<span class="is-required">
			{{ label }}
		</span>

		<app-field-errors
			[formField]="formField">
		</app-field-errors>
	</label>
	<div class="input-with-button-wrapper">
		<input class="form-element"
			[ngClass]="{
				'has-error':
					formField?.invalid
					&& formField?.dirty
			}"
			[name]="fieldName"
			[id]="fieldName"
			[type]="passwordFieldType"
			[value]="value"
			[disabled]="isDisabled"
			formControlName="password"
			(input)="onChange( $event )"
			(blur)="touched()">

		<button type="button" class="toggle-password-visibility-button"
	        [title]="passwordFieldType === 'text'
				? 'Hide password'
				: 'Show password'"
			(click)="togglePasswordVisible()">
			<fa-icon
				[icon]="passwordFieldType === 'text'
					? ['far', 'eye-slash']
					: ['far', 'eye']">
			</fa-icon>
		</button>
	</div>
</div>
